
.menu li a:hover {
    color: white;
    transform: scale(1.1);
}
nav:hover{
    background-color: #c8c8c8f3;
}
.kontakticontainer button:hover {
    background-color: black;
    color: white;
    transform: scale(1.1);
    transition: all 1s;
}

.kontakticontainer button {
    transition: all 1s;
}





